buildozer
certifi
chardet
charset-normalizer
Cython
distlib
docutils
filelock
idna
jedi
Kivy
Kivy-Garden
packaging
parso
pexpect
Pillow
platformdirs
ptyprocess
pudb
Pygments
requests
sentry-sdk
sh
urllib3
urwid
urwid-readline
virtualenv
